body{
  background-color: lightgoldenrodyellow;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
h1{
  color:darkgreen;
  font-size: 70px;
}
h2{
  color: darkblue;
  font-style:italic;
}
p{
  font-style:italic;
}
a{
  color: darkred;
  font-size:20px;
}
#xiexie{
  color: darkblue;
}
